* text=auto eol=lf

*.tflite    binary
*.onnx      binary
*.pth       binary
*.npz       binary
*.npy       binary
*.bin       binary
*.rec       binary
*.idx       binary
*.wav       binary
*.png       binary
*.jpg       binary
*.ico       binary

*/generated/*   linguist-generated
uv.lock         linguist-generated
dependencies.lock   linguist-generated

*.sh    text eol=lf
*.py    text eol=lf
*.c     text eol=lf
*.h     text eol=lf
*.cpp   text eol=lf
*.hpp   text eol=lf
*.ts    text eol=lf
*.tsx   text eol=lf
*.md    text eol=lf
*.yaml  text eol=lf
*.yml   text eol=lf
*.json  text eol=lf
*.csv   text eol=lf
