CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_UNITY_ENABLE_IDF_TEST_RUNNER=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.dev.csv"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_SILENT=y
CONFIG_HEAP_POISONING_DISABLED=y
CONFIG_ESP_TASK_WDT_EN=n
CONFIG_AI_ARENA_FAST_KB=224
CONFIG_AI_ARENA_BIG_KB=1536
