build/
sdkconfig
sdkconfig.old
managed_components/
models/*.tflite
models/**/*.tflite
components/*/test_apps/build/
components/*/test_apps/sdkconfig
components/*/test_apps/sdkconfig.old
components/*/test_apps/managed_components/
